/* Stile generale della pagina */
body {
    font-family: Arial, sans-serif;
    background-color: #10edea;
    text-align: center;
}

/* Stile del titolo */
h2 {
    color: #4616d8;
}

/* Stile del form */
form {
    background-color: rgb(24, 148, 201);
    width: 300px;
    margin: 20px auto;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px #ccc;
}

/* Stile di select e bottone */
select, input[type=submit] {
    width: 100%;
    padding: 8px;
    margin-top: 10px;
}

/* Stile del bottone */
input[type=submit] {
    background-color: #ef1308;
    color: white;
    border: none;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #25db0eea;
}

/* stile tabella */
table {
    margin: 20px auto 60px auto; 
    border-collapse: collapse;
    background-color: rgb(152, 17, 215);
}

/* Stile intestazione tabella */
th {
    background-color: #0cc8e4;
    color: rgb(255, 255, 255);
    padding: 10px;
}

/* Stile celle tabella */
td {
    padding: 8px;
    text-align: center;
}

/* Colore righe pari tabella */
tr:nth-child(even) {
    background-color: #f6f7f3;
}
